<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="background">
        <div class="hero-image">
            <div class="hero-text">
                <div class="container">
                    <div class="boxed">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                                <img src="assets/imgs/logo.png" alt="Shop & Chef Logo" id="logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>
