
{{!-- Linking css --}}
<link rel="stylesheet" href="/assets/css/style.css">
{{!-- //Setup the index.ejs to have the template that ejs can render onto.
Create a button in index.ejs that will submit the user input into the database. --}}
<main class="container">
  
    {{!-- Setting up a background image and styling the text to appear on top of it --}}
  <div class="hero-image">
    <div class="hero-text">
      <h1>
        <p>Shopping List</p>
      </h1>

      <table>
        <tr>
          <td>&nbsp;</td>
          <td>Knocky</td>
          <td>Flor</td>
          <td>Ella</td>
          <td>Juan</td>
        </tr>
        <tr>
          <td>Breed</td>
          <td>Jack Russell</td>
          <td>Poodle</td>
          <td>Streetdog</td>
          <td>Cocker Spaniel</td>
        </tr>
        <tr>
          <td>Age</td>
          <td>16</td>
          <td>9</td>
          <td>10</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Owner</td>
          <td>Mother-in-law</td>
          <td>Me</td>
          <td>Me</td>
          <td>Sister-in-law</td>
        </tr>
        <tr>
          <td>Eating Habits</td>
          <td>Eats everyone's leftovers</td>
          <td>Nibbles at food</td>
          <td>Hearty eater</td>
          <td>Will eat till he explodes</td>
        </tr>
      </table>

      <h2>Burgers on the menu:</h2>
      <!-- Use for each to create the burgers -->
      <ul>
        {{#each burger}}
        {{#unless this.devoured}}
        <h3>{{burger_name}}</h3>
        <button class="devoured" id={{id}}>Devour it!</button>
        {{/unless}}
        {{/each}}
      </ul>

      {{!-- Field to add a burger--}}
      <h2>Create Your Own Burger</h2>
      <form class="new_burger">
        <input class="form-control" type="text" id="new_burger_text" placeholder="Enter a burger" name="add"></input>
        <button type="submit">That's the burger I want!</button>
      

      <div class="Burgers-dev">
        <h2>Devoured Burgers:</h2>
        <ul>
          {{#each burger}}
          {{#if devoured}}
          <h3>{{burger_name}}</h3>
          {{!-- <button class="delete" id={{id}}>Gone!</button> --}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  </form>
</main>