<%- include('partials/header'); -%>
  <!-- Linking FontAwsome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Adding google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <!-- {{!-- Linking css --}} -->
  <link href="stylesheets/members_styles.css" rel="stylesheet" />

  <!-- <link href="stylesheets/recipe-styles.css" rel="stylesheet"> -->

    <div class="background">
    <main class="container hero-image">

        <%- include('partials/nav'); -%>


          <section class="hero-image">
            <div class="row justify-content-center align-items-center">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <section class="boxed">
                      <img src="assets/imgs/bag.png" alt="Shop & Chef Logo" id="logo">
                      <h1>
                        <p>Shopping List</p>
                      </h1>
                      </a>
                      </i>
                  </div>
                </div>
              </div>
              </span>
              </nav>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-md-offset-3 col-lg-6 col-lg-offset-3">

                    <!-- {{!-- //Setup the index.ejs to have the template that ejs can render onto.
Create a button in index.ejs that will submit the user input into the database. --}} -->
                    <!-- {{!-- Setting up a background image and styling the text to appear on top of it --}} -->
                    <!-- We will want to add padding to and format the table once we integrate the css styling -->
                    <!-- Dynamically add items to the shopping list using EJS -->

                    <!-- {{!-- //Setup the index.ejs to have the template that ejs can render onto.
Create a button in index.ejs that will submit the user input into the database. --}} -->


                    <!-- {{!-- Setting up a background image and styling the text to appear on top of it --}} -->
                    <!-- We will want to add padding to and format the table once we integrate the css styling -->
                    <!-- Dynamically add items to the shopping list using EJS -->
                    <section class="boxed">
                      <h4>Add Items To Your Shopping List</h4>
                      <form id="add-item">
                        <input id="item-name-text" type=text placeholder="Add to list">
                        <button class="btn btn-success" type="submit">Add Item</button>
                      </form>
                      <!-- List for items in shopping list. Items added dynamically via members.js -->
                      <section>
                        <ul id="shopping-list" class="list-group">
                        </ul>
                        <button id="delete-all-btn" class="btn btn-danger" type="button">Empty List</button>
                  </div>
                </div>
              </div>
          </section>
          </section>
      </main>
    </div>
    <%- include('partials/scripts'); -%>
      <script src="js/members.js"></script>

      <%- include('partials/footer'); -%>