<%- include('partials/header'); -%>
  <!-- {{!-- Linking fontawesome --}} -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Linking google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- {{!-- Linking css --}} -->
  <link href="stylesheets/recipe-styles.css" rel="stylesheet">
  

    <div class="background">
      <main class="container hero-image">
<%- include('partials/nav'); -%>
    
        <h1 class="recipe-name">

        </h1>
        <!-- Container for the recipe search results. -->
        <div class="row" id="recipe-results">
          <section class="col-lg-7 col-md-10 col-sm-12 col-xs-12 float-center">
            <div class="jumbotron recipe-holder">
              <img src="assets/imgs/hat.png" class="d-block img-fluid" alt="Shop & Chef Logo" id="logo">
              <h1 class="recipe-header"> Recipes </h1>

              <ul id="recipes-list">

              </ul>
            </div>

          </section>

        </div>

        <!-- Container for all recipe related info -->
        <div class="row" id="recipe-container">
          <!-- Container for the recipe ingredients -->
          <section class="col-lg-12 col-md-12 col-sm-12">
            <div class="jumbotron ingredient-holder">

              <!-- Container for the recipe ingredients -->
              <h1 class="ingredient-header"> Ingredients </h1>

              <div class="icon">
                <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>
              </div>

              <section class="col-lg-7 col-md-12 col-sm-12 col-xs-12">

                <div class="image-container" id="recipe-image">

                </div>
              </section>

              <section class="col-lg-5 col-md-12 col-xs-12">
                <div class=ingredient-list-holder>
                  <ul id="ingredient-list">

                  </ul>
                </div>
              </section>

            </div>
          </section>
        </div>
        <div class="row" id="directions-container">
          <section class="col-lg-12 col-md-12 col-sm-12">

            <!-- Container for the recipe instructions -->
            <div class="jumbotron directions-holder">

              <h1 class="directions-header"> Directions</h1>

              <div class="icon">
                <i class="fa fa-cutlery fa-3x" aria-hidden="true"></i>
              </div>

              <ul id="instructions">

              </ul>
            </div>
          </section>
        </div>

    </div>
    </section>
    </main>
    </div>
    </section>
    </main>
    <%- include('partials/scripts'); -%>
      <script type="text/javascript" src="./js/recipe.js"></script>
      <%- include('partials/footer'); -%>