<%- include('partials/header'); -%>
<!-- Linking google fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<!-- {{!-- Linking css --}} -->
<link href="stylesheets/signup_styles.css" rel="stylesheet" />
<%- include('partials/body'); -%>
<div class ="background">
  <div class="hero-image">
    <div class="hero-text">
      <div class="container">
        <div class="boxed">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
            <img src="assets/imgs/logo.png" alt="Shop & Chef Logo" id="logo">
            <h2>Sign Up To Build Easy Shopping Lists Here</h2>
            <form class="signup">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email-input"
                  placeholder="Email"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password-input"
                  placeholder="Password"
                />
              </div>
              <div
                style="display: none"
                id="alert"
                class="alert alert-danger"
                role="alert"
              >
                <span
                  class="glyphicon glyphicon-exclamation-sign"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Error:</span> <span class="msg"></span>
              </div>
              <button type="submit" class="btn btn-default">Sign Up</button>
            </form>
            <br />
            <p>Or log in <a href="login.html">here</a></p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/scripts'); -%>
    <script type="text/javascript" src="js/signup.js"></script>
<%- include('partials/footer'); -%>