.background {
    background-image: url("assets/images/background.jpg");
    height: 1500px;
    width: auto;
    background-position: center;
    background-size: cover;   
  }
  
  form.login {
    margin-top: 50px;
  }
  
  img {
    max-width: 15%;
    height: auto;
    padding: 10px;
  }

  h4 {
    margin-bottom: 50px;
  }

  a:link {
    color:#27402d;
  }

  #shopList {
    padding: 10px;
  }
  
  .container {
    text-align: center;
    justify-content: center;
    color: white;
    
  }
  
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  
  .boxed {
    border: 1px solid green ;
    background: rgba(255,255,255,0.5);
    size: 25%;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .container-fluid{
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  #nav1 {
    background-color: rgba(255,255,255,0.5);
    font-weight:bold;
    font-size:large;
  }
  
  .card {
    background-color: rgba(255,255,255,0.5);
  }
  
  .body {
  
   font-weight:bold;
   /* font: italic small-caps bold 16px/2 cursive; */
   font-family: 'Oleo Script', cursive;
  }
  
  .container {
    font-family: 'Oleo Script', cursive;
    font-size: 20px;
  }
  
  .no-strike {
    text-decoration: none;
  }
  
  .strike {
    text-decoration: line-through;
  }
  
  .shopping-list {
    font-family: 'Sedgwick Ave', cursive;
  }