.background {
    background-image: url("assets/images/background.jpg");
    height: 1500px;
    width: auto;
    background-position: center;
    background-size: cover;   
  }
  
  form.login {
    margin-top: 50px;
  }
  
  img {
    max-width: 15%;
    height: auto;
    padding: 10px;
  }

  .signup {
    -webkit-text-stroke: .75px black; 
  }

  a {
    -webkit-text-stroke: .75px black; 
  }

  h4 {
    margin-bottom: 50px;
  }

  a:link {
    color:#27402d;
  }

  #shopList {
    padding: 10px;
  }
  
  .container {
    text-align: center;
    justify-content: center;
    color: white;
  }
  
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  
  .boxed {
    border: 1px solid green ;
    background: rgba(255,255,255,0.5);
    size: 25%;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .container-fluid{
    position: absolute;
    margin: 20px;
    width: auto;
    font-size: 150%;
  }
  
  #nav1 {
    background-color: rgba(255,255,255,0.5);
    font-weight:bold;
    font-size:large;
    font-family: 'Bebas Neue', cursive;
  }
  
  .card {
    background-color: rgba(255,255,255,0.5);
  }
  
  .body {
  
   font-weight:bold;
   font-family: 'Bebas Neue', cursive;
  }
  
  .container {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
  }
  
  .no-strike {
    text-decoration: none;
  }
  
  .strike {
    text-decoration: line-through;
  }
  
  .shopping-list {
    font-family: 'Bebas Neue', cursive;
  }

  h1{
    font-size: 150%;
  }

  h4{
    font-size: 110%;
  }

  label {
    color: #FDBB46;
    -webkit-text-stroke: .75px black; 
  }

  .btn {
    font-size: 20px;
    color: black;
    background-color: #A87B50;
    padding: 5px 20px;
    border-width: 1px;
    border-color: black
  }