.background {
  background-image: url("assets/images/background.jpg");
  height: 1500px;
  width: auto;
  background-position: center;
  background-size: cover;   
}

p {
  font-family: 'Monsteratt', sans-serif;
  font-weight: bold;
}

h4 {
  margin-top: 2rem;
}

#item-name-text {
  margin-bottom: 20px;
}

#shopList {
  padding: 10px;
}

.container {
  position: relative;
  text-align: center;
  justify-content: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid rgb(243, 232, 232);
  padding: 1.5rem;
  background: rgba(255,255,255,0.5);
  color: #27402d; 
}

a:link {
  color:#27402d;
}

.boxed {
  border: 1px solid green ;
  background: rgba(255,255,255,0.5);
  size: 25%;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2.5rem;
}

#delete-all-btn {
  margin-top: 20px;
}

.container-fluid{
  position: absolute;
  margin: 20px;
  width: auto;
}

#nav1 {
  background-color: rgba(255,255,255,0.5);
  font-size:large;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
}

.card {
  background-color: rgba(255,255,255,0.5);
}

.body {
 font-weight:bold;
 justify-content: center;
 font-family: 'Bebas Neue', cursive;
}

.container {
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  justify-content: center;
}

.no-strike {
  text-decoration: none;
}

.strike {
  text-decoration: line-through;
}

img {
  max-width: 30%;
  height: auto;
  padding: 10px;
}

.shopping-list {
  font-family: 'Bebas Neue', cursive;
}

