form.signup,
form.login {
  margin-top: 50px;
}


/* Setting an image as the background for the app:  */
.hero-image {
  background-image: url("assets/images/background.jpg");
  background-color: #5d996c;
   /* Used if the image is unavailable */
  height: 1000px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;

}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid rgb(243, 232, 232);
  padding: 1.5rem;
  background: rgba(255,255,255,0.5);
  color: #27402d; 
}

a:link {
  color:#27402d;
}

.boxed {
  border: 1px solid green ;
  background: rgba(255,255,255,0.5);
  size: 25%
}

.container-fluid{
  position: absolute;
  margin: 20px;
  width: auto;
}

#nav1 {
  background-color: rgba(255,255,255,0.5);
}

.card {
  background-color: rgba(255,255,255,0.5);
}

.body {

 font-weight:bold;
}