body {
    font-size: 15px;
    background-image: url("../assets/imgs/background.jpg");
    height: 1500px;
    width: auto;
    background-position: center;
    background-size: cover;
}

.background {
    
    height: 1500px;
    width: auto;
    background-position: center;
    background-size: cover;   
  }

h1 {
    font-size: 30px !important;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
}

h2 {
    color: black;
    text-align: center;
    font-size: 10px;
}
    
.h2 {
    font-size: 120%;
    font-family:'Bebas Neue', sans-serif; 
    }


img {
        max-width: 500px;
        height: auto;
        float: left;
}

li {
    font-size: 20px;
    margin-top: 5px;
}

.container {
    justify-content: center;
}


#nav1 {
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgba(255,255,255,0.5);
    font-weight:bold;
    font-size:large;
}

#logo {
    margin-bottom: 15px;
    max-width: 50%;
    display:block !important;
    margin-left:auto;
    margin-right:auto;
    float: none !important;
}

#recipe-results {
    justify-content: center;
}

.recipe-holder {
    justify-content: center;
}

.recipe-name {
    font-size: 50px;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 5rem;
}

.jumbotron{
    padding: 1rem 1rem;
    margin-top: 20px;
}

.icon{
    text-align: center;
    margin-bottom: 10px;
}

.row {
    display: flex;
    width: 100%;
}

.ingredient-holder{
    padding-right: 1rem;
}

.ingredient-holder, .directions-holder, .recipe-holder
{
    height: auto;
    max-height: 100%;
    overflow: auto;
}

#addIngredient-btn {
    margin-left: 10px;
    border: none;
    cursor:pointer;
    font-family: 'Bebas Neue', sans-serif;

}

.ingredient-list {
    float: right;
}

ul {
cursor:pointer;
}

.instructions {
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

.no-check {
    visibility: hidden;
}

.check {
    visibility: visible;
}

.fa-cart-plus, .fa-cutlery {
    color: #FDBB46;
    -webkit-text-stroke: .75px black; 
}

.fa-heart {
    color: white;
    opacity: 50%
}

.btn {
    margin-left: 10px;
    border-color: black;
    border-width: 1px;
}

@media screen and (max-width: 1500px) {
    img {
        max-width: 450px;
        height: auto;
        float: left;
}
    #ingredient-list {
        font-size: 15px;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 100;
    }

    .recipe-option {
        font-family: 'Bebas Neue', sans-serif;
    }
    
    .row {
        display: flex;
        width: 100%;
        justify-content: center;
    }

@media screen and (max-width: 768px) {
    h1 {
        font-size: 50%;
        font-family: 'Bebas Neue', sans-serif;
    }
    
    .recipe-name {
         width: 95%;
     }
     .image-container {
         width: 50%;
         justify-content: center;
     }
     #logo {
        max-width: 50%;
        text-align: center
    }
    li {
        font-size: 15px;
    }
    .recipe-name {
        width: 100%;
        justify-content: center;
        font-family: 'Bebas Neue', sans-serif;
    }

    img {
        max-width: 425px;
        height: auto;
}
#cart {
    cursor: pointer;
}
}