body {
    background: url(../assets/imgs/background.jpeg);
}

h1 {
    font-size: 30px !important;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
}

h2 {
    color: black;
    text-align: center;
    font-size: 10px;
}

img {
        max-width: 450px;
        height: auto;
        float: left;
}

li {
    font-size: 20px;
    margin-top: 5px;
}

#nav1 {
    background-color: rgba(255,255,255,0.5);
    font-weight:bold;
    font-size:large;
}

#logo {
    margin-bottom: 15px;
    max-width: 50%;
    display:block !important;
    margin-left:auto;
    margin-right:auto;
    float: none !important;
}

#recipe-results {
    justify-content: center;
}

.recipe-holder {
    justify-content: center;
}

.recipe-name {
    font-size: 50px;
    color: white;
    background-color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5rem;
    text-decoration: underline !important;
}

.jumbotron{
    padding: 2rem 1rem;
    margin-top: 20px;
}

.icon{
    text-align: center;
    margin-bottom: 10px;
}

.row {
    display: flex;
    width: 100%;
}

.ingredient-holder, .directions-holder, .recipe-holder
{
    height: auto;
    max-height: 100%;
    overflow: auto;
}

#addIngredient-btn {
    margin-left: 10px;
    border: none;
    cursor:pointer;

}

.ingredient-holder {
cursor:pointer;
}

.no-check {
    visibility: hidden;
}

.check {
    visibility: visible;
}

@media screen and (max-width: 992px) {
    .bio-box {
         width: 80%;
         font-size: 90%;
     }
    .image-container {
        width: 50%;
        justify-content: center;
    }
    #logo {
        max-width: 50%;
        display:block !important;
        margin-left:auto;
        margin-right:auto;
    }
    li {
        font-size: 20px;
    }

@media screen and (max-width: 768px) {
    h1 {
        font-size: 50%;
    }
    .recipe-name {
         width: 95%;
     }
     .image-container {
         width: 50%;
         justify-content: center;
     }
     #logo {
        max-width: 50%;
        text-align: center
    }
    li {
        font-size: 20px;
    }
}
}